<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1>Restful Tasks API</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button (click)="getTasksFromService()" class="btn btn-info">Get All Tasks</button>
      <h1 class="mt-2" *ngIf="allTasksRetrieved">Task List:</h1>
      <div class="row my-3" *ngFor="let task of tasks">
        <div class="col">
          {{ task.title }}
        </div>
        <div class="col">
          <button *ngIf="displayedTask !== task" (click)="changeDisplayedTask(task)" class="mr-3 btn btn-secondary">Show</button>
          <button (click)="deleteTaskThroughService(task)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <h1>New Task:</h1>
  <form (submit)="create()">
    <p>Title:</p>
    <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
    <p>Description:</p>
    <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
    <input type="submit" value="Submit">
  </form>

  <app-task *ngIf="displayedTask != undefined" [taskToUpdate]="displayedTask"></app-task>

</div>


