<div style="text-align:center">
  <h1>Restful Tasks API</h1>
  <h1>Task List:</h1>
  <button (click)="getTasksFromService()" class="btn btn-danger">Get All Tasks</button>
  <div *ngFor="let task of tasks">{{ task.title }}
    <button *ngIf="displayedTask !== task" (click)="changeDisplayedTask(task)">Show</button>
    <p *ngIf="displayedTask === task">{{ task.description }}</p>
  </div>

  <h1>One task:</h1>
  <button (click)="getOneTaskFromService()">Get One Task</button>
  <p>{{ oneTask.title }} - {{ oneTask.description }}</p>

  <h1>New Task:</h1>
  <form (submit)="create()">
    <p>Title:</p>
    <input type="text" name="newTask.title" [(ngModel)]="newTask.title">
    <p>Description:</p>
    <input type="text" name="newTask.description" [(ngModel)]="newTask.description">
    <input type="submit" value="Submit">
  </form>

  <app-task *ngIf="displayedTask != undefined" [taskToShow]="displayedTask"></app-task>

</div>


